$fa-font-path: '~font-awesome/fonts/';
@import "~font-awesome/scss/font-awesome.scss";

@font-face {
  font-family: Century Gothic;
  src: url('../fonts/Century_Gothic.ttf') format('truetype');
}

@font-face {
  font-family: Century Gothic;
  src: url('../fonts/Century_Gothic_Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Century Gothic;
  src: url('../fonts/Century_Gothic_Bold.ttf') format('truetype');
  font-weight: 500;
}
